/* ANIME CHART STYLES */
/*==================*/

.airing-list {
	list-style-type: none;
	font-size: 1.3em;
	padding-left: 1.3em;
	padding-right: 1.3em;
	padding-top: 0.5em;
}

#add-anime-box {
	float: left;
	font-size: 2em;
	margin-top: 0.4em;
	margin-bottom: 1.1em;
	margin-right: 0.5em;
}

#chart-divider {
	margin-top: 1em;
}

#details-link {
	padding-top: 0.3em;
	font-size: 0.9em;
}
