<template name="home">
	{{> header}}

	<div class="ui inverted vertical masthead center aligned segment">
		<div class="ui text container">
			<h1 class="ui inverted header">AniTrack</h1>
			<h2>The simplest way to keep track of currently airing Anime.<p></p>
				<a href="/user_account"><div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div></a>
			</h2>
		</div>
	</div>

	<div class="ui vertical stripe segment">
		<div class="ui text raised container segment" id="main-copy">
			<h3 class="ui header">Custom Lists of Airing Anime</h3>
			<p>
				Use AniTrack to build lists of Anime airing in Japan that you're currently watching.
				See helpful information like airing times and other data about
				upcoming episodes of your favorite Animes.
			</p>

			<h4 class="ui horizontal header divider">
				<a>Airing Schedule</a>
			</h4>

			<h3 class="ui header">Simple Anime Schedule Dashboard</h3>
			<p>
				Use the Anime schedule dashboard to see all the Anime that is playing now
				and add new Anime to your list as the season progresses.
			</p>
		</div>
	</div>
	{{> footer}}
</template>
