/* HEADER STYLES */
/*==================*/
#site-header {
	font-size: 1.5em;
}

/* HOME PAGE STYLES */
/*==================*/
#main-copy {
	padding-top: 4%;
	padding-bottom: 4%;
	padding-left: 3%;
	padding-right: 3%;
	font-size: 1.5em;
}

/* Masthead */
.masthead.segment {
	min-height: 600px;
	padding: .6em 0em;
}
.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}
.masthead h1.ui.header {
	margin-top: 3em;
	margin-bottom: 0em;
	font-size: 4em;
	font-weight: normal;
}
.masthead h2 {
	font-size: 1.7em;
	font-weight: normal;
}

/*Vertical stripes*/
.ui.vertical.stripe {
	padding: 8em 0em;
}
.ui.vertical.stripe h3 {
	font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}
.ui.vertical.stripe .floated.image {
	clear: both;
}
.ui.vertical.stripe p {
	font-size: 1.33em;
}
.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

@media only screen and (max-width: 700px) {
	.masthead.segment {
		min-height: 350px;
	}
	.masthead h1.ui.header {
		font-size: 2em;
		margin-top: 1.5em;
	}
	.masthead h2 {
		margin-top: 0.5em;
		font-size: 1.5em;
	}
}

/* ANIME LIST STYLES */
/*==================*/

#anime-list {
	list-style-type: none;
	text-align: left;
	font-size: 1.2em;
}

.selected {
	background-color: #D4A8FF;
}

.anime-list-button {
	margin-top: 1em;
}

/* SIGN IN/REGISTER PAGE STYLES */
/*==================*/

#account-form-container{
	margin-top: 6%;
	margin-left: 20%;
	margin-right: 20%;
}

/* ANIME CHART STYLES */
/*==================*/

.airing-list {
	list-style-type: none;
}



















