/* ANIME LIST STYLES */
/*==================*/

#anime-list {
	list-style-type: none;
	text-align: left;
	font-size: 1.4em;
}

#anime-container {
	padding: 1.8em;
}

.selected {
	background-color: #D4A8FF;
}

.anime-list-button {
	margin-top: 1em;
}
