/* ANIME LIST STYLES */
/*==================*/

#anime-list {
	list-style-type: none;
	text-align: left;
	font-size: 1.4em;
}

#anime-container {
	padding: 1.8em;
}

.selected {
	background-color: #ded9ff;
}

.anime-list-button {
	margin-top: 1em;
}

#air-time {
	font-size: 0.95em;
	padding-top: 0.5em;
}

#app-container {
	margin-top: 2em;
	margin-bottom: 2em;
}

.anime {
	padding-bottom: 0.1em;
}
