<template name="header">
	<!-- Following Menu -->
	<div class="ui inverted large top menu" id="top-nav">
		<div class="ui container">
			<a class="item" id="site-header" href="/">AniTrack</a>
			<div class="right menu">
				{{#if currentUser}}
					<div class="item">
						<h4>{{showUser}}</h4>
					</div>
					<div class="item">
						<a class="ui primary button" id="logout">Logout</a>
					</div>
				{{else}}
					<div class="item">
						<a class="ui primary button" href="/user_account">Sign In</a>
					</div>
				{{/if}}
			</div>
		</div>
	</div>
</template>
